---
page_title: "Data source: powersync_project"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# Data source: powersync_project

{{ .Description | trimspace }}

## Example Usage

{{ tffile "examples/data-sources/powersync_project/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}
